* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

h1{
    text-align: center;
    align-items: center;
}

.card {
    height: 168px;
    width: 120px;
    margin: 10px;
    
  }

  .blue{
    background-color: blue;

  }

  .backimage{
      background-image: url("card_images/shield.jpg");
      background-size: contain;
  }

  #cards{
      height: fit-content;
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: black;
      padding: 1rem;
  }

 

  .clicked {
    background-color: red;
  }

